@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  overflow: overlay;
}

/* sign */
.sign_background {
  min-height: 100vh;
  background-color: azure;
}
.sign_container {
  min-height: 700px;
  background-color: gainsboro;
  border-radius: 20px;
  box-shadow: 0px 6px 15.8px rgba(75, 75, 75, 0.23);
}
.sign_info {
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
.sign_info > h3 {
  margin-top: 60px;
}

/* login */
.login_div {
  border-top: 8px solid #d34658;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 6px 15.8px rgba(75, 75, 75, 0.23);
  min-height: 700px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
.login_div > img {
  width: 120px;
}
.login_div > h1 {
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 72px;
}
.login_div > p {
  font-size: 15px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.login_div > input {
  font-size: 14px;
  width: 70%;
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding-left: 10px;
  border: 1px #dadada solid;
  border-radius: 4px;
}
.login_div > input:focus {
  outline: 2px solid #d34658;
}
.login_button {
  width: 70%;
  height: 50px;
  border-radius: 4px;
  margin-top: 16px;
}
.login_div a {
  text-decoration: none;
  color: #d34658;
  font-weight: 600;
}
.login_div a:hover {
  text-decoration: underline;
  color: #d34658;
  cursor: pointer;
}

.kakao_login {
  width: 70%;
  height: 50px;
  background-color: #fce84d;
  position: relative;
  margin-top: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.kakao_login > img {
  width: 15px;
  position: absolute;
  left: 20%;
  top: 49%;
  transform: translate(0%, -50%);
}
.kakao_login > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.kakao_login > img {
  left: 12.5%;
}

.kakao_login {
  width: 70%;
  height: 50px;
  background-color: #fce84d;
  position: relative;
  margin-top: 16px;
  border-radius: 4px;
}
.kakao_login > img {
  width: 15px;
  position: absolute;
  left: 20%;
  top: 49%;
  transform: translate(0%, -50%);
}
.kakao_login > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.kakao_login > img {
  left: 12.5%;
}

/* signup */
.signup_div {
  border-top: 8px solid #d34658;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 6px 15.8px rgba(75, 75, 75, 0.23);
  min-height: 700px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.signup_input > input {
  height: 20px;
  font-size: 14px;
}

.signup_div > img { width: 120px; }
.signup_div > h1 { font-size: 28px; margin-top: 32px; margin-bottom: 72px; }
.signup_div > button { 
  width: 70%; 
  height: 50px;
  color: #D34658;
  background-color: #FFFFFF;
  border: 1px #D34658 solid;
  border-radius: 4px;
  margin-top: 16px;
}
.signup_div a {
  text-decoration: none;
  color: #d34658;
  font-weight: 600;
}
.signup_div a:hover {
  text-decoration: underline;
  color: #d34658;
  cursor: pointer;
}

/* topbar */
.logo{
  width: 150px;
  margin-right:50px;
  margin-bottom:10px;
  cursor: pointer;
}

/* playbar */
.playbar{
  width: 100%;
  height: 120px;
  background-color: #DBDFFD;
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}

.css-fdq1ma-MuiSlider-root {
  height: 8px !important;
}

.playbutton > img {
  margin-left: 20px;
  margin-right: 20px;
}

.css-iyx866-MuiSlider-root {
  height: 8px !important;
}

/* menu */
.menubox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
}
.menubox:hover{
  box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.23);
}
.colored_menubox{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #DBDFFD;
  border-radius: 10px;
  width: 90%;
}
.colored_menubox:hover{
  box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.23);
}
.menudivider{
  margin: 10px !important;
}

/* post */

.PostInfo h1{ margin: 0px; font-size: 16px; }
.PostInfo h2{ margin: 0px; font-size: 16px; color: #646FD4; font-weight: lighter; padding-left: 5px; }
.PostInfo h3{ margin: 0px; font-size: 16px; color: #999999; font-weight: lighter; }
.PostInfo p { margin: 0px; font-size: 16px; font-weight: lighter; }

.musiccard:hover{
  box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.23);
}

.musiccard h1{ margin: 0px; font-size: 18px; }
.musiccard h2{ margin: 0px; font-size: 14px; color: #999999; font-weight: lighter; }